.topLink a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  font-size: 14px;
  gap: 7px;
}
.contactUs {
  background: #01a85a;
  font-size: 16px !important;
  padding: 26px;
  color: white !important;
}
.logoImg {
  width: 150px;
  margin-left: 5vw;
}
