::-webkit-scrollbar {
  width: 0;
  background: transparent;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
body {
  font-family: "Poppins", sans-serif !important;
  color: black;
}
.sectionDiv {
  padding: 0px 5vw;
}
